<ion-view title="Filter">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider uppercase">
                Entities or Entity Group
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Search for an entity or entity group" ng-change="searchEntity()" ng-model="filter.searchEntity">
            </label>
            <div class="item">
                <li class="item" ng-repeat="entity in entitiesCompletion">
                    <a ng-click="selectEntity(entity)" ng-bind="entity.name"></a>
                </li>
            </div>
            <div class="item item-text-wrap">
                <h2>Selected</h2>
                <ion-list show-delete="true">
                    <ion-item ng-repeat="entity in filter.entities">
                        {{entity.name}}
                        <ion-delete-button class="ion-minus-circled" ng-click="filter.entities.splice($index, 1)"></ion-delete-button>
                    </ion-item>
                </ion-list>
            </div>
            
            <div class="item item-divider uppercase">
                Entity Group
            </div>               
            <div class="item item-text-wrap">
               <ion-radio name="tags" ng-repeat="tag in filterParameters.tags" ng-value="tag" ng-model="filter.tag[0]">{{ tag }}</ion-checkbox>                            
            </div>
            
            
            <div class="item item-divider uppercase">
                Fiscal Period
            </div>               
            <div class="item item-text-wrap">
               <ion-radio name="periods" ng-repeat="period in filterParameters.periods" ng-value="period" ng-model="filter.fiscalPeriod[0]">{{ period }}</ion-checkbox>                            
            </div>
            
             <div class="item item-divider uppercase">
                Fiscal Year
            </div>               
            <div class="item item-text-wrap">               
               <ion-radio name="years" ng-repeat="year in filterParameters.years" ng-value="year" ng-model="filter.fiscalYear[0]">{{ year }}</ion-checkbox>              
            </div>
            
        </div>
    </ion-content>
</ion-view>