
<ion-view title="Filter">

    <ion-nav-bar class="bar-positive">
        <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
        <button ui-sref="disclosures.start()" class="button button-icon icon ion-chevron-left"></button>

       <ion-nav-buttons side="right">
            <button ui-sref="disclosures.disclosure(filter)" class="button button-icon icon ion-chevron-right"></button>
       </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div >
            <div class="item item-divider uppercase">
                Entity Group
            </div>               
            <div class="item item-text-wrap">
               <ion-radio name="tags" ng-repeat="tag in filterParameters.tags" ng-value="tag" ng-model="filter.tag">{{ tag }}</ion-radio>
               <ion-radio name="tags" value="ALL" ng-model="filter.tag">All</ion-radio>
            </div>

            <div class="item item-divider uppercase">
                Fiscal Year
            </div>
            <div class="item item-text-wrap">
                <ion-radio ng-show="allYears" name="allyears" ng-repeat="year in filterParameters.years" ng-value="year" ng-model="filter.fiscalYear">{{ year }}</ion-radio>
                <ion-radio ng-hide="allYears" name="years" ng-repeat="year in recentYears" ng-value="year" ng-model="filter.fiscalYear">{{ year }}</ion-radio>
                <ion-radio ng-hide="allYears" name="years" ng-click="showAllYears()">...</ion-radio>
            </div>

            <div class="item item-divider uppercase">
                Fiscal Period
            </div>               
            <div class="item item-text-wrap">
               <ion-radio name="periods" ng-repeat="period in filterParameters.periods" ng-value="period" ng-model="filter.fiscalPeriod">{{ period }}</ion-radio>
            </div>
            
        </div>
    </ion-content>
</ion-view>
