
<ion-view title="Disclosures">

    <ion-nav-bar class="bar-positive">
        <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
        <button ui-sref="disclosures.filter()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-bar>

    <ion-header-bar class="bar bar-subheader item-input-inset">
        <div class="col-50 buttonbar">
          <a class="col-25 item button ion-home" ui-sref="disclosures.startpage()"></a>
          <a class="col-75 item button ion-chevron-right" ui-sref="disclosures.filter()">{{ nav.tag }} {{ nav.fiscalYear }} {{ nav.fiscalPeriod }}</a>
        </div>
        <label class="col-50 item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"
               placeholder="Filter..."
               ng-model="search"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()">
            </label>
    </ion-header-bar>


            <ion-tabs class="tabs-positive">

                <ion-tab title="Policies" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in policies | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Policies', concept: concept.Name });"

                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                         </div>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Footnotes" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in footnotes | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Footnotes', concept: concept.Name });"
                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                        </div>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Disclosures" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in disclosures | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Disc', concept: concept.Name });"
                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                        </div>
                    </ion-content>
                </ion-tab>

            </ion-tabs>


 </ion-view>
