
<ion-view title="Disclosures">

    <ion-nav-bar class="bar-positive">
        <button ui-sref="filter()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right">
    </ion-nav-view>

        <ion-content>

            <ion-header-bar class="bar-light bar-header">
                <input type="search"
                       placeholder="Filter..."
                       ng-model="search"
                       ng-focus="searchFocused = true"
                       ng-blur="searchFocused = false"
                       ng-change="scrollTop()">
                <!-- TODO: Add close button http://codepen.io/ionic/pen/mFygh -->
            </ion-header-bar>

            <div class="list">
                <!-- Policies -->
                <div class="item item-divider">
                    Policies
                </div>
                <a class="item"
                   ng-repeat="concept in policies | filter:search | orderBy:[notUsed, 'Label']"
                   ng-click="select({ category: 'Policies', concept: concept.Name });"

                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>

                <!-- Footnotes -->
                <div class="item item-divider">
                    Footnotes
                </div>
                <a class="item"
                   ng-repeat="concept in footnotes | filter:search | orderBy:[notUsed, 'Label']"
                   ng-click="select({ category: 'Footnotes', concept: concept.Name });"
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>

                <div class="item item-divider">
                    Disclosures
                </div>
                <a class="item"
                   ng-repeat="concept in disclosures | filter:search | orderBy:[notUsed, 'Label']"
                   ng-click="select({ category: 'Disc', concept: concept.Name });"
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>
            </div>
        </ion-content>
 </ion-view>
