
<ion-view title="Disclosures">

    <ion-header-bar class="bar bar-dark">
          <a class="item button-dark button-icon button ion-home" ui-sref="disclosures.start()"></a>
          <a class="col-75 item button button-light ion-chevron-right" ui-sref="disclosures.filter()">{{ nav.tag }} {{ nav.fiscalYear }} {{ nav.fiscalPeriod }}</a>
          <h1></h1>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader">
        <input type="search"
               placeholder="Filter..."
               ng-model="search"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()">
    </ion-header-bar>

            <ion-tabs class="tabs-positive">

                <ion-tab title="Policies" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in policies | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Policies', concept: concept.Name });"

                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                         </div>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Footnotes" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in footnotes | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Footnotes', concept: concept.Name });"
                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                        </div>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Disclosures" >
                    <ion-content>
                        <div class="list">
                            <a class="item"
                               ng-repeat="concept in disclosures | filter:search | orderBy:[notUsed, 'Label']"
                               ng-click="select({ category: 'Disc', concept: concept.Name });"
                               ng-class="{ disabled: used[concept.Name] !== true }">
                                {{concept.Label}}
                            </a>
                        </div>
                    </ion-content>
                </ion-tab>

            </ion-tabs>


 </ion-view>
