<!-- Side menus: http://codepen.io/ionic/pen/tcIGK -->
<!--
<ion-nav-view animation="slide-left-right">
  Center content
</ion-nav-view>
-->
<ion-side-menus>

    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
            <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
            <h1 class="title">
                US GAAP Disclosures
            </h1>
        </ion-header-bar>
        <ion-content class="padding">
            <p>
                On a small viewport (less than 768px window width), the left menu will be hidden, but can be shown by swiping left to right, or toggling the button in the top left of the header. On a large viewport (greater than or equal to 768px), the left menu will stay open.
            </p>
            <p>
                Using <code>large</code> as the attribute's value is an alias to <code>(min-width:768px)</code> since it is the most common use-case. However, for added flexibility, any valid media query could be added as the value, such as <code>(min-width:600px)</code> or even multiple queries such as <code>(min-width:750px) and (max-width:1200px)</code>.
            </p>
        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large">

        <ion-header-bar class="bar-royal">
            <ion-tabs class="tabs-positive tabs-icon-only">
                <ion-tab title="Policies" icon-on="ion-ios7-briefcase" icon-off="ion-ios7-briefcase-outline" href="/disclosures/Policies">
                </ion-tab>
                <ion-tab title="Footnotes" icon-on="ion-ios7-pricetags" icon-off="ion-ios7-pricetags-outline" href="/disclosures/Footnotes">
                </ion-tab>
                <ion-tab title="Disclosures" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" href="/disclosures/Disclosures">
                </ion-tab>
                <ion-tab title="All" icon-on="ion-ios7-albums-outline" icon-off="ion-ios7-albums-outline" href="/disclosures/All">
                </ion-tab>
            </ion-tabs>
        </ion-header-bar>

        <ion-header-bar class="bar-light bar-subheader">
            <input type="search"
                   placeholder="Filter..."
                   ng-model="search"
                   ng-focus="searchFocused = true"
                   ng-blur="searchFocused = false"
                   ng-change="scrollTop()">
            <!-- TODO: Add close button http://codepen.io/ionic/pen/mFygh -->
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <a class="item"
                   ng-repeat="concept in all | filter:search | orderBy:'Label'"
                   ui-sref="disclosures.concept">
                   {{concept.Label}}
                </a>
            </div>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>