<!-- Side menus: http://codepen.io/ionic/pen/tcIGK -->
<!--
<ion-nav-view animation="slide-left-right">
  Center content
</ion-nav-view>
-->
<ion-side-menus>

    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
            <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
            <h1 class="title">
                US GAAP Disclosures
            </h1>
        </ion-header-bar>
        <ion-content>
            <ion-nav-view animation="slide-left-right">
                <div class="padding">
                    <h1>US GAAP Disclosures</h1>
                    <p>
                        This application provides its user ability to research financial report policies, footnotes, and specific disclosures provided to the U.S. Securities and Exchange Commission (SEC) by public companies that are required to report to the SEC.
                    </p>
                    <p>
                        These high quality financial disclosures can be used as examples by accountants when creating their own financial report disclosures. These disclosures allow accountants to compare and contrast specific wording, what a disclosure contains, and other information for hundreds of disclosures.
                    </p>
                </div>
            </ion-nav-view>
        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large">

        <ion-header-bar class="bar-light bar-header">
            <input type="search"
                   placeholder="Filter..."
                   ng-model="search"
                   ng-focus="searchFocused = true"
                   ng-blur="searchFocused = false"
                   ng-change="scrollTop()">
            <!-- TODO: Add close button http://codepen.io/ionic/pen/mFygh -->
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <!-- Policies -->
                <div class="item item-divider">
                    Policies
                </div>
                <a class="item"
                   ng-repeat="concept in policies | filter:search | orderBy:'Label'"
                   ui-sref="disclosures.concept({ category: 'Policies', concept: concept.Name })"
                   ng-class="{ disabled: concept.Used !== true }">
                    {{concept.Label}}
                </a>

                <!-- Footnotes -->
                <div class="item item-divider">
                    Footnotes
                </div>
                <a class="item"
                   ng-repeat="concept in footnotes | filter:search | orderBy:'Label'"
                   ui-sref="disclosures.concept({ category: 'Footnotes', concept: concept.Name })"
                   ng-class="{ disabled: concept.Used !== true }">
                    {{concept.Label}}
                </a>

                <div class="item item-divider">
                    Disclosures
                </div>
                <a class="item"
                   ng-repeat="concept in disclosures | filter:search | orderBy:'Label'"
                   ui-sref="disclosures.concept({ category: 'Disc', concept: concept.Name })"
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>
            </div>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>