<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">            
            <button ng-click="up()" class="button button-icon icon ion-chevron-left"></button>            
            <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large">

        <ion-header-bar class="bar-light bar-header">
            <input type="search"
                   placeholder="Filter..."
                   ng-model="search"
                   ng-focus="searchFocused = true"
                   ng-blur="searchFocused = false"
                   ng-change="scrollTop()">
            <!-- TODO: Add close button http://codepen.io/ionic/pen/mFygh -->
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <!-- Policies -->
                <div class="item item-divider">
                    Policies
                </div>
                <a class="item"
                   ng-repeat="concept in policies | filter:search | orderBy:[notUsed, 'Label']"
                   ng-click="select({ category: 'Policies', concept: concept.Name });"
                   
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>

                <!-- Footnotes -->
                <div class="item item-divider">
                    Footnotes
                </div>
                <a class="item"
                   ng-repeat="concept in footnotes | filter:search | orderBy:[notUsed, 'Label']"
                   ui-sref="disclosures.concept({ category: 'Footnotes', concept: concept.Name })"
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>

                <div class="item item-divider">
                    Disclosures
                </div>
                <a class="item"
                   ng-repeat="concept in disclosures | filter:search | orderBy:[notUsed, 'Label']"
                   ui-sref="disclosures.concept({ category: 'Disc', concept: concept.Name })"
                   ng-class="{ disabled: used[concept.Name] !== true }">
                    {{concept.Label}}
                </a>
            </div>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>